:root {
    --CA: #13102d;
    --CB: rgba(43, 201, 188, 0.52);
}

* {
    font-family: 'Lato', sans-serif !important;
    transition: 0.3s !important;
}

html {
    background-image:
        linear-gradient(to bottom, rgba(0, 53, 42, 0.52), rgba(0, 0, 0, 0.73)),
        url('/img/bg.png');
    background-size: cover;
}

body {
    background-color: transparent;
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer,
nav {
    min-height: 10vh;
    color: white;


}

.d-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.199);
}

nav a {
    color: var(--CB) !important;
    font-weight: bold !important;
    font-size: 2.5vh !important;
    text-shadow: rgba(255, 0, 0, 0);
    transition: 0.3s !important;

}

nav a:hover {
    text-shadow: rgb(43, 196, 201) 0vh 0vh 1.5vh !important;
    transition: 0.3s !important;
}

.cardItem {
    padding: 1vh;
    border-radius: 2vh;
    border: 0.5vh solid var(--CB);
    text-align: center;
    min-height: 25vh;
}

.cardImg {
    font-size: 10vh;
    color: var(--CB);
}

.cardContent {
    font-size: 2.7vh;
    color: var(--CB);
    font-weight: bold !important;
    text-align: center;
    text-decoration: none;

}

.cardImg img {
    height: 15vh;
    margin-bottom: 2vh;
    border-radius: 2vh;
}

.cardImg i {
    margin-top: 5vh;
}

.col-3 {
    margin-bottom: 3vh;
    text-decoration: none;
}

.atropos-shadow {
    background: var(--CB);
}

@media (max-width: 960px) {
    .col-3 {
        width: 100%;
    }
}